header{
    color: red;
    font-size: 40px;
    font-family: fantasy;
    text-align: center;
    
}

header:hover{
    color :skyblue;
}

img{
text-align: center;
}

a{
    size :15px;
}

header{
    background-color: black;
}